<!--
<section class="patrocinio">
</section>
-->
<section class="apoio text-center">
        <span class="badge badge-dark">APOIO</span>
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-2">
                    <a href="https://www.facebook.com/caccomuem/" target="_blank"><img class="img-thumbnail" th:src="@{/img/caccom.png}" alt="logo centro academico de ciência da computação"/></a>
                </div>
                <div class="col-6 col-lg-2">
                    <a href="https://www.facebook.com/CAINFOUEM/" target="_blank"><img class="img-thumbnail" th:src="@{/img/cainfo.png}" alt="logo centro academico de informática"/></a>
                </div>
                <div class="col-6 col-lg-2">
                    <a href="http://din.uem.br/pet" target="_blank"><img class="img-thumbnail" th:src="@{/img/pet.png}" alt="logo do pet"/></a>
                </div>
                <div class="col-6 col-lg-2">
                    <a href="http://www.din.uem.br/~caccom/hackspace/" target="_blank"><img class="img-thumbnail" th:src="@{/img/hacker.jpg}" alt="logo do hackerspace"/></a>
                </div>
                <div class="col-6 col-lg-2">
                    <a href="https://www.facebook.com/conectadasuem/" target="_blank"><img class="img-thumbnail" th:src="@{/img/conectadas.png}" alt="logo conectadas"/></a>
                </div>
                <div class="col-6 col-lg-2">
                    <a href="https://www.facebook.com/SoftcomUEM/" target="_blank"><img class="img-thumbnail" th:src="@{/img/softcom.png}" alt="logo softcom"/></a>
                </div>
            </div>
        </div>
</section>
<section class="realizacao text-center"  style="background-color: rgba(0, 0, 0, 0.4); color: white;">
    <h3>REALIZAÇÃO</h3>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 text-center">
                <img th:src="@{/img/logorealiza.png}" alt="Logo Semana da Computação"/>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a href="http://din.uem.br" target="_blank"><img th:src="@{/img/din.png}" alt="Departamento de Informática"/></a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a href="http://uem.br" target="_blank"><img class="logo-uem" th:src="@{/img/uem.png}" alt="Universidade Estadual de Maringá"/></a>
            </div>
        </div>
    </div>
</section>