<footer class="desenvolvimento text-center" style="background-color: #1b1c1d; color: white;">
    <div class="container">
        <div class="row" style="color: #808080;">
            <div class="col-12" style="color: white;">I SECOMP UEM</div>
            <div class="col-12">Desenvolvido por <a href="http://din.uem.br/pet" target="_blank">PET - Informática - UEM</a></div>
            <div class="col-12"><a href="mailto:pet@din.uem.br" target="_blank">pet@din.uem.br</a></div>
            <div class="col-12">---</div>
            <div class="col-12">Universidade Estadual de Maringá</div>
            <div class="col-12">Departamento de Informática</div>
            <div class="col-12">Avenida Colombo 5790, Jardim Universitário, Maringá/PR - CEP 87020-900</div>
        </div>
    </div>
</footer>