<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="pt-br">
    <title>SECOMP UEM 2017</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{favicon.ico}" rel="icon"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/jcountdown.css}" rel="stylesheet"/>
    <link th:href="@{/css/uem.css}" rel="stylesheet"/>
    <link th:href="@{/css/filetypes.css}" rel="stylesheet"/>
    <link th:href="@{/css/glyphicons.css}" rel="stylesheet"/>
    <link th:href="@{/css/halflings.css}" rel="stylesheet"/>
    <link th:href="@{/css/social.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-migrate-1.4.1.min.js}"></script>
    <script th:src="@{/js/jquery-migrate.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/jquery.jcountdown.js}"></script>
    <script th:src="@{/js/uem.js}"></script>
</head>
<body>
</body>
</html>