<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/secomp">
            <img th:src="@{/img/logosmall.png}" alt="semana da computaçoã"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarHeader">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="secomp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">a secomp</button>
                    <div class="dropdown-menu" aria-labelledby="secomp">
                        <a class="nav-link" href="/secomp/apresentacao"> Apresentação</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/secomp/programacao">programação</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">patrocínio</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/secomp/contato">contato + faq</a>
                </li>
            </ul>
        </div>
    </nav>
</header>