<!DOCTYPE html>
<html>
<head lang="pt-br">
	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header"></th:block> /*/-->
<h1 class="text-center" style="margin-top: 60px;">Usuários</h1>
<div class="container text-center">
	{{users}}
</div>
<!--/*/ <th:block th:include="fragments/beforend"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/footer"></th:block> /*/-->
</body>
</html>