html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#particles, #start {
    height: 100vh;
    width: 100vw;
    display: table;
    table-layout: fixed;
}
.nav-item, button#secomp {
    text-transform: uppercase;
}
header nav {
    background-color: #1b1c1d;
}
header nav a {
    color: #fff!important;
}
.jumbotron img {
    max-width: 500px;
}
.jumbotron {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}
.dropdown-menu a:hover, a.navbar-brand:hover, header nav .nav-item:hover {
    background-color: rgba(255, 255, 255, .15);
}
#particles {
    position: absolute;
    left: 0;
    top: 0;
}
#start .text-center {
    display: table-cell;
}
.inscrições {
    padding: 5pt 0;
    background-color: #1b1c1d;
    color: #fff;
}
a:hover {
    text-decoration: none;
}
button#secomp {
    background-color: transparent;
    border: none;
    color: #fff;
}
.dropdown-menu {
    background-color: #1b1c1d;
    color: #fff;
    text-transform: none;
    margin: 0;
    padding: 0;
}
.dropdown-menu a {
    padding: 8px;
}
.collapse.show .nav-item {
    border-left:none;
}
.data-realizacao {
    text-transform: uppercase;
}
.inscrições, .inscrições button {
    text-transform: uppercase;
}
.inscrições {
    padding-bottom: 10px;
    padding-top: 10px;
}
.localização .glyphicons {
    font-size: 2em;
}
.localização {
    padding-top: 10px;
}
.atividades .glyphicons {
    font-size: 2em;
}
.realizacao h3 {
    margin-bottom: 0;
}
.atividades .col-2 {
    margin-top: 5px;
}
.localização p {
    font-size: 13.5px;
}
.atividades {
    padding-top: 10px;
    padding-bottom: 10px;
}
.realizacao {
    padding-top: 20px;
    padding-bottom: 20px;
}
.realização img {
    margin-top: 5px;
}
.apoio span {
    margin-bottom: 5px;
}
.apoio {
    padding-bottom: 10px;
    padding-top: 10px;
}
.apoio .img-thumbnail {
    background-color: transparent;
    border: none;
    width: 50%;
}
.uem {
    background-color: white;
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: justify;
    margin-top: 60px;
}
.din {
    background-color: #1b1c1d;
    color: rgba(255,255,255,.9);
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: justify;
}
table .info {
    background-color: #f38630;
    text-align: center;
}
table .aula {
    background-color: #3531ff;
    text-align: center;
}
table .intervalo {
    background-color: #f8ff00;
    text-align: center;
}
table .livre {
    background-color: #fcff2f;
    text-align: center;
}
table .curso {
    background-color: #3166ff;
    text-align: center;
}
table {
    color: #000;
    font-weight: bold;
    margin: 0 auto;
}
.realizacao img {
    margin-top: 10px;
}
#faq {
    text-align: justify;
    font-size: 16pt;
}
#faq p {
    font-size: 12pt;
}
#faq, #faq a {
    color: rgba(0, 0, 0, .87);
}
.realizacao img {
	height: 150px;
}
@media screen and (min-width:992px) {
    header nav a.navbar-brand {
    border-right: 1pt solid rgba(255, 255, 255, .08);
    padding-right: 5pt;
    }
    header li.nav-item {
        border-left: 1pt solid rgba(255, 255, 255, .08);
        padding-left: 2pt;
    }
    .titulo-evento {
        font-size: 4em;
    }
    .data-realizacao {
        font-size: 2.5em;
    }
}
@media screen and (max-width:991px) {
    .titulo-evento {
    font-size: 2.5em;
    }
    .data-realizacao {
        font-size: 2em;
    }
    #start .text-center {
        flex: 1;
    }
    .jumbotron img {
        max-width: 300px !important;
    }
    .inicio {
        margin-top: 60px;
    }
}
