<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Lista de Atividades</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(atividades)}">
    <h2>Lista de atividades</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Local</th>
            <th>Início das Inscrições</th>
            <th>Fim das Inscrições</th>
            <th>Custo</th>
            <th>Quantidade de Vagas</th>
            <th>Carga Horária</th>
            <th>Evento</th>
        </tr>

        <tr th:each="atividade : ${atividades}">
            <td th:text="${atividade.id}">Id</td>
            <td th:text="${atividade.nome}">Nome</td>
            <td th:text="${atividade.descricao}">Descrição</td>
            <td th:text="${atividade.tipo}">Tipo</td>
            <td th:text="${atividade.local}">Local</td>
            <td th:text="${#dates.format(atividade.inscricaoInicio, 'dd/MM/yyyy')}">Início das Inscrições</td>
            <td th:text="${#dates.format(atividade.inscricaoFim, 'dd/MM/yyyy')}">Fim das Inscrições</td>
            <td th:text="${atividade.custo}">Custo</td>
            <td th:text="${atividade.cargaHoraria}">Carga Horária</td>
            <td th:text="${atividade.vagas}">Quantidade de Vagas</td>
            <td th:text="${atividade.eventoId}">Evento</td>
        </tr>
    </table>
</div>
<div th:if="${#lists.isEmpty(atividades)}">
    Nenhum livro cadastrado.
</div>

</body>
</html>