<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Atividades</title>

</head>
<body>
    <h1>Lista de atividades</h1>

    <form>
        <label>Nome:</label>
                    <p th:text="${atividade.nome}">Nome</p>
                <label>Descrição:</label>
                    <p th:text="${atividade.descricao}">Descrição</p>
        </form>
</body>
</html>
