<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header"></th:block> /*/-->
        <h1 class="text-center" style="margin-top: 60px; margin-bottom: 20px;">CONTATO + FAQ</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div id="faq" data-children=".item">
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#faq" href="#item1" aria-expanded="false" aria-controls="item1">
                                <span class="glyphicons glyphicons-chevron-right"></span> Quando abrem as incrições?
                            </a>
                            <div id="item1" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    As inscrições para a I Semana da Computação da UEM estarão disponíveis a partir de xx de xxxxx de 2017, às xxh.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#faq" href="#item2" aria-expanded="false" aria-controls="item2">
                                <span class="glyphicons glyphicons-chevron-right"></span> O evento é pago?
                            </a>
                            <div id="item2" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    O acesso ao conteúdo do evento é gratuito para todos os participantes.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#faq" href="#item3" aria-expanded="false" aria-controls="item3">
                                <span class="glyphicons glyphicons-chevron-right"></span> Haverá certificado para os participantes?
                            </a>
                            <div id="item3" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Sim, teremos certificados digitais para os participantes que tiverem presença em pelo menos 75% das atividades do evento.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#faq" href="#item4" aria-expanded="false" aria-controls="item4">
                                <span class="glyphicons glyphicons-chevron-right"></span> Há limite de vagas?
                            </a>
                            <div id="item4" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Minicursos, workshops possuem limite de vagas que serão divulgados junto à descrição de cada atividade. As vagas são preenchidas por ordem de inscrição. Portanto, assim que as inscrições abrirem, garanta o quanto antes a sua vaga! As demais atividades que não precisam de inscrição (como palestras e mesas-redondas, por exemplo) possuem vagas limitadas apenas à quantidade de lugares no lugar da atividade.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="text-center">Entre em contato com a organização</h3>
                    <div th:if="${info}">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <p th:text="${info}"></p>
                        </div>
                    </div>
                    <form id="validar" method="post" action="#" th:action="@{/contact}" th:object="${mensagem}">
                        <div class="form-group">
                            <label for="nome">Seu nome:</label>
                            <input type="text" class="form-control" th:field="*{nome}" placeholder="Seu nome" value="" required="required"/>
                            <div class="invalid-feedback">
                                Insira seu nome.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Seu e-mail:</label>
                            <input type="email" class="form-control" th:field="*{email}" placeholder="exemplo@exemplo.com" value="" required="required"/>
                            <div class="invalid-feedback">
                                Insira um e-mail válido.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Mensagem:</label>
                            <textarea class="form-control" th:field="*{message}" rows="3" required="required"></textarea>
                            <div class="invalid-feedback">
                                Insira a mensagem.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success"><span class="glyphicons glyphicons-send"></span> Enviar mensagem</button>
                    </form>
                    <script>
                        $('.collapse').on('show.bs.collapse', function(){
                            $(this).parent().find(".glyphicons-chevron-right").removeClass("glyphicons-chevron-right").addClass("glyphicons-chevron-down");
                        }).on('hide.bs.collapse', function(){
                            $(this).parent().find(".glyphicons-chevron-down").removeClass("glyphicons-chevron-down").addClass("glyphicons-chevron-right");
                        });
                    </script>
                </div>
            </div>
        </div>
        <!--/*/ <th:block th:include="fragments/beforend"></th:block> /*/-->
        <!--/*/ <th:block th:include="fragments/footer"></th:block> /*/-->
    </body>
</html>