<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="pt-br">
	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header"></th:block> /*/-->
<h1 class="text-center" style="margin-top: 60px;">Eventos</h1>
<div class="container text-center" data-children=".item">
	<div class="item" th:each="evento : ${allEventos}">
		<button class="" data-toggle="collapse" th:text="${evento.nome}">
			Nome
		</button>
		<div class="collapse show" role="tabpanel">
			<p th:text="${evento.nome}">Nome</p>
			<p th:text="${evento.local}">Local</p>
		</div>
	</div>
</div>
<!--/*/ <th:block th:include="fragments/beforend"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/footer"></th:block> /*/-->
</body>
</html>